.root_div {
  margin-top: 100px;
  /* width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.header_text {
  color: #059e3d;
  font-size: 28px;
  font-family: "Oswald", sans-serif;
  padding: 30px;
  text-align: center;
  font-weight: 900;
}

.oops_text {
  color: #c40233;
  font-size: 25px;
  font-weight: 500;
}

.des_text {
  font-size: 16px;
  text-align: center;
  color: #09a8ba;
}

.shop_now_btn {
  width: 150px;
  height: 45px;
  margin-bottom: 20px;
  padding-top: 10px;
}
