<nav class="navbar navbar-expand-lg navbar-light  fixed-top card px-5 ">
    <div class="container-fluid p-md-1">
      <a class="navbar-brand disabled" routerLink="/" >Home Shopping</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- navbar for norman user -->
        <ul *ngIf="userType==='user'" class="navbar-nav me-auto ms-3 mb-2 mb-lg-0">
          <li class="nav-item"  >
            <!-- [routerLinkActiveOptions]="{exact: true}" -->
            <a class="nav-link nav_link"  aria-current="page" routerLink="/home" routerLinkActive="active"  >Home</a>
          </li>
          <li class="nav-item" *ngIf="loginStatus" >
            <a class="nav-link nav_link"  aria-current="page" routerLink="/wishlist" routerLinkActive="active"  >Wishlist</a>
          </li>
          <li class="nav-item ms-3"  *ngIf="! loginStatus" >
            <a class="nav-link nav_link" aria-current="page" routerLink="/signup"  routerLinkActive="active"  >Signup</a>
          </li>
          <li class="nav-item ms-3"  *ngIf="! loginStatus" >
            <a class="nav-link nav_link" aria-current="page" routerLink="/signin"  routerLinkActive="active"  >Login</a>
          </li>
          <li class="nav-item ms-3"  *ngIf="loginStatus" >
            <a class="nav-link nav_link" aria-current="page" routerLink="/my-orders"  routerLinkActive="active"  >My-Orders</a>
          </li>
          <li class="nav-item ms-3"  *ngIf="! loginStatus" >
            <a class="nav-link nav_link" aria-current="page" routerLink="/admin-signin"  routerLinkActive="active"  >Admin</a>
          </li>
          <li class="nav-item ms-3" *ngIf="loginStatus" >
            <a  (click)="userLogoutLinkClick()" class="nav-link nav_link" aria-current="page"  routerLink="/logout"  routerLinkActive="active"  >Logout</a>
          </li>
          <li class="nav-item ms-5" style="width: 500px;">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search items..." aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </li>
        </ul>
       
        <ul *ngIf="userType==='user'" class="navbar-nav  mb-2" >
            <a routerLink="/add-to-cart" ><mat-icon class="add_to_cart_icon" [matBadge]="totalCartItems" matBadgeColor="warn">add_shopping_cart</mat-icon></a>
        </ul>

        <!-- navbar for admin -->
        <ul *ngIf="userType==='admin'" class="navbar-nav me-auto ms-3 mb-2 mb-lg-0">
          <li class="nav-item"  >
            <!-- [routerLinkActiveOptions]="{exact: true}" -->
            <a class="nav-link nav_link"  aria-current="page" routerLink="/add-product" routerLinkActive="active"  >Add product</a>
          </li>
          <li class="nav-item" *ngIf="loginStatus" >
            <a class="nav-link nav_link"  aria-current="page" routerLink="/customer-oders" routerLinkActive="active"  >Customer-Orders</a>
          </li>
          <li class="nav-item ms-3" *ngIf="loginStatus" >
            <a  (click)="adminLogoutLinkClick()" class="nav-link nav_link" aria-current="page"  routerLink="/admin-logout"  routerLinkActive="active"  >Logout</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link nav_link disabled"  aria-current="page"   >Admin Dashboard</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>