.root_div {
  height: 100vh;
}

.header_div {
  margin-top: 100px;
}

.header_text {
  color: #059e3d;
  font-size: 28px;
  font-family: "Oswald", sans-serif;
  padding: 30px;
  text-align: center;
  font-weight: 900;
}

.body_div {
  margin-top: 50px;
}

.oops_text {
  color: #ee0020;
  font-size: 25px;
  font-weight: 500;
}

.des_text {
  font-size: 16px;
  text-align: center;
  color: #9f00ee;
}

.shop_now_btn {
  width: 150px;
  height: 45px;
  margin-bottom: 20px;
  padding-top: 10px;
}
