<div class="row mt-2 ">
    <div class=" col-md-3 text-center ">
        <img class="img-fluid" style="width: 100%; height: 150px; object-fit:contain;" [src]="cartProductItem.imgUrl" alt="cart image" />
    </div> 
    <div class="col-md-9">
           <div class=" d-flex justify-content-between ">
              <div>
                <h2 class="product_title pt-2">{{cartProductItem.name  | slice: 0:25}}</h2>
               </div>
               <div>
                   <h3 class="item_count_text pt-2">{{totalProductCount}} pics</h3>
               </div>
               <div>
               <P class="p-2 item_count_text">Price: {{cartProductItem.price}}/Pic</P>
            </div>
           </div> 
           <div class="product_description">
               {{cartProductItem.description | slice: 0:180}}
           </div>
           <div class="" style="color: black; font-size: 16px; font-weight: 450; margin-top: 5px;">
            Date: {{cartProduct.timeStamp | date}}
            </div>
           <div class="product_price">
           Total Price: {{cartProductItem.price * totalProductCount | currency:'INR'}}
           </div>
          
           <div class="footer mb-4 mt-3">
            <button class="btn btn-primary btn-sm" ><mat-icon class="me-1" style="font-size: 20px;" (click)="decreaseCartCountBtnClick()">remove_circle</mat-icon><label style="font-size: 18px;"> {{totalProductCount}} </label><mat-icon class="ms-1" style="font-size: 20px;"  (click)="incrementCartCountBtnClick()">add_circle</mat-icon></button>
            <button class="ms-3 btn btn-success btn-sm"  (click)="buyNowBtnClick(cartProductItem._id)">Buy now</button>
            <button class="ms-3 btn btn-danger btn-sm"  (click)="removeCartItemBtnClick(cartProductItem._id)">Remove</button>
           </div>
      </div>
   </div>  
   <mat-divider class=""></mat-divider>