<section class="root_div">
    <div class="header_div container">
        <mat-card  class="container mb-2 mt-0 header_text"  >Customer Orders</mat-card>
    </div>
    <div class="body_div container">
        <a routerLink="/customer-oders/status/pending">Pending Orders</a><br/>
        <a routerLink="/customer-oders/status/successfull">Successfull Orders</a><br/>
        <a routerLink="/customer-oders/status/cancel">Cancel Orders</a><br/>
      <router-outlet></router-outlet>

    </div>
</section>