.root_div {
  height: 100vh;
}

.header_div {
  margin-top: 100px;
}

.header_text {
  color: #059e3d;
  font-size: 28px;
  font-family: "Oswald", sans-serif;
  padding: 30px;
  text-align: center;
  font-weight: 900;
}

.body_div {
  margin-top: 50px;
}
