<div class="row mt-2 ">
    <div class=" col-md-3 text-center ">
        <img class="img-fluid wishlist_image" style="width: 100%; height: 150px; object-fit:contain;" [src]="product.imgUrl" alt="cart image" />
    </div> 
    <div class="col-md-9">
           <div class=" d-flex justify-content-between ">
              <div>
                <h2 class="product_title pt-2">{{product.name  | slice: 0:25}}</h2>
               </div> 
               <div>
               <P class="product_price  p-2">{{product.price | currency:'INR'}}</P>
            </div>
           </div> 
           <div class="product_description">
               {{product.description | slice: 0:180}}...
           </div>
           <div class="" style="color: black; font-size: 16px; font-weight: 450; margin-top: 5px;">
            Date: {{wishListProduct.timeStamp | date}}
            </div>
           <div class="footer my-4">
            <!-- <button mat-raised-button color="primary" class="cart_button" ><mat-icon class="me-2" >remove_circle</mat-icon> {{totalProductCount}} <mat-icon class="ms-2"  (click)="incrementCartCountBtnClick()">add_circle</mat-icon></button> -->
            <button class="btn btn-primary" (click)="buyNowBtnClick(product._id)" >Buy Now</button>
            <button class="btn btn-danger ms-3" (click)="removeProductBtnClick(product._id)" >Remove</button>
            <!-- <button mat-raised-button color="warn" class="ms-3 cart_button"  >Remove</button> -->
           </div>
      </div>
   </div>  
   <mat-divider class=""></mat-divider>